body {
    background-color:rgb(138, 194, 216);
}
h1 {
    color:rgb(8, 53, 99);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
}
div.meni {
    background-color:rgb(8, 53, 99);
    margin-top:10px;
    margin-left: -10px;
    margin-right:-10px;
    height: 58px;
    padding-left: 10px;
    overflow-x:auto;
    z-index:1; 
}
a:link, a:visited { 
    color:white;
    font-size:25px;
    font-family:Arial, Helvetica, sans-serif;
    display:inline-block;
    text-decoration:none;
    text-align:center;
    padding:15px;
    border-left-color: white;
    border-right-color: white;
    
}
  a:hover, a:active {
    color:black;
background-color:lightskyblue; }

div.tekst { background-color:rgb(8, 53, 99);
    height:110px;
    overflow-y: scroll;
    border:2px solid white;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.malaslika {
    width: 60px;
    height:40px;
   
}

.velikaslika {
    height:480px;
    width:640px;
    float:center;
}

.container {
    height:640px;
    width:640px;
    border: 2px solid white;
    float:center;
    margin:auto;
    margin-top: 50px;;
    padding:0px;
}

p {
    color:rgb(8, 53, 99);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
}